{% extends "maestrageneral.html" %}
{% block titulo %}
CREAR CUENTA
{% endblock %}
{% block contenido %}
<section class="section">
    <div class="columns">
        <div class="column is-one-third">
            <h3 class="is-size-3">Crear cuenta</h3>
            <form action="{{url_for('procesar_signup')}}" method="post">
                <label for="usuario">Usuario:</label>
                <input required type="text" class="input" placeholder="Usuario" name="usuario" id="usuario">
                <label for="contrasena">Contraseña:</label>
                <input required type="password" class="input" placeholder="Contraseña" name="contrasena" id="contrasena">
                <label for="confcontrasena">Confirmación de contraseña:</label>
                <input required type="password" class="input" placeholder="Confirmación" name="confcontrasena" id="confcontrasena">

                <button type="submit" class="button is-success mt-2">Crear cuenta</button>
                <a href="{{url_for('login')}}" class="button is-primary mt-2">Iniciar sesión</a>
            </form>
        </div>
    </div>
</section>
{% endblock %}